* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #f3f3f3;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.card {
  width: 100%;
  max-width: 400px;
  background: white;
  border-radius: 25px;
  padding: 35px 25px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.avatar {
  width: 90px;
  height: 90px;
  margin: auto;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #222;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.profile h1 {
  margin-top: 20px;
  font-size: 25px;
}

.profile p {
  margin-top: 8px;
  color: #777;
}

.buttons {
  margin-top: 30px;
}

.buttons a {
  display: block;
  text-decoration: none;

  background: #222;
  color: white;

  padding: 15px;
  margin-top: 12px;

  border-radius: 12px;
}
